
<div id="top bg1" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dxy1zcexj/image/upload/v1577127746/kitchen-2165756_1920_p4mbb1.jpg')">
      <!-- <div class="row banner-content d-flex justify-content-start"> -->
        <div class="container">
            <div class="col-12 col-lg-12">
            <span class="banner-title">One Day Decorating</span>
          </div>
          <div class="col-12 col-lg-12">
            <a class="home-button" href="">
          <button class="home-button" style="outline: none;">
              <span class="button-inner">Contact</span>
          </button>
            </a>
        </div>
      </div>
  </div>
  <%= render "process" %>
  <%= render "parallax" %>
  <%= render "testimonials" %>
  <%= render "contact" %>
  <%= render "shared/footer" %>

